name: Coverage

on:
    workflow_run:
        workflows:
            - Quality
        types:
            - completed

permissions:
    contents: read
    pull-requests: write
    actions: read

jobs:
    report:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.event == 'pull_request' && !startsWith(github.event.workflow_run.head_branch, 'release-please') }}
        steps:
            - uses: actions/checkout@v6

            - name: Download coverage artifact
              uses: actions/download-artifact@v4
              with:
                  name: coverage
                  path: coverage
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  run-id: ${{ github.event.workflow_run.id }}

            - name: Report coverage
              uses: ./
              with:
                  coverage-artifact-paths: bun:coverage/lcov.info
                  github-token: ${{ secrets.GITHUB_TOKEN }}
